.Home Link {
    text-decoration: none;
}

.Home #lander {
    background-image: url("https://www.freepnglogos.com/uploads/minions-png/minions-png-images-heroes-minions-transparent-16.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

.Home #lander b {
    color: #FCE029;
}

.Home #choose img {
    max-height: 20vh;
    border-radius: 30%;
    background-color: #F4F4F4;
}