.Home Link {
    text-decoration: none;
}

.Home #lander {
    background-image: url("https://www.freepnglogos.com/uploads/minions-png/minions-png-images-heroes-minions-transparent-16.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 600px) {
    .Home #lander {
        background-image: none;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .Home #lander {
        font-size: 13px;
    }
}

.Home #lander b {
    color: #FCE029;
}

.Home #choose img {
    max-width: 13vw;
    border-radius: 30%;
    background-color: #F4F4F4;
}

.Home #purchase {
    margin-top: 50px;
    background-color: #FCE029;
    padding: 5%;
}

.Home #purchase h1 {
    text-align: center;
}

.Home #purchase form button {
    margin: 0 auto;
    display: block;
}


@media (max-width: 599px) {
    .Home #lander Button {
        display: none;
    }
    
    .Home #choose img {
        max-width: 30vw;
    }
}
