.App Link {
  text-decoration: none;
}

.App Link:hover {
  text-decoration: none;
}
.App .AppBar {
    background-color: #FFFFFF;
}

.App .navbar-brand {
  font-weight: bold;
}

.App footer {
  padding-top: 20px;
}

.App footer p {
  text-align: center;
  font-family: 'Poppins';
  font-size: 10px;
}